@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-CondLight-webfont.woff') format('woff'),
    url('OpenSans-CondLight-webfont.ttf') format('truetype'),
    url('OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-color: #FFFFFF;
    background-attachment:fixed;
    vertical-align: top;
    align: center;
    text-align: center;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -ms-touch-action: none;
    font-family:'open_sanscondensed_light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}

#canvasArea {
    position:   fixed;
    left:       50%;
    top:        50%;
    align:      center;
    text-align: center;
    background-image: url('../assets/loadingScreen-50.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    image-rendering: auto;
    -webkit-transform: translateZ(0);
}

#memoryMatch {
    display: none;
    width: 100%;
    height: 100%;
}

#loader {
    position: fixed;
    overflow: auto;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    z-index: 0;
}

#loaderProgress {
    font-family: SohoStd-BoldItalic, Arial, sans-serif;
    color: #30bed2;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    margin-top: 14%;
    margin-right: 20%;
}

#loaderProgressFrameStroke {
    color: #050608;
}

#loaderProgressFrameTop {
    color: #c0c0c0;
}

#loaderProgressFrameMiddle {
    color: #000000;
}

#loaderProgressFrameBottom {
    color: #050608;
}

#loaderProgressStroke {
    color: #36c2dd;
}

#loaderProgressTop {
    color: #aad4dc;
}

#loaderProgressMiddle {
    color: #aad4dc;
}

#loaderProgressBottom {
    color: #36c2dd;
}

@media all and (min-width: 1024px) { /* 100% */
    #loaderProgress {
        font-size: 16px;
    }

    #helpContent {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 24px;
        padding-right: 60px;
        padding-bottom: 18px;
        font-size: 24px;
    }

    #helpContent h1 {
        font-size: 28px;
    }

    #helpContent p {
        margin-left: 22px;
    }
}

@media all and (min-width: 501px) and (max-width: 1023px) { /* 50% */
    #loaderProgress {
        font-size: 14px;
    }

    #helpContent {
        margin-top: 40px;
        margin-bottom: 60px;
        padding-left: 24px;
        padding-right: 60px;
        padding-bottom: 18px;
        font-size: 18px;
    }

    #helpContent h1 {
        font-size: 24px;
    }

    #helpContent p {
        margin-left: 22px;
    }
}

@media all and (max-width: 500px) { /* 25% */
    #loaderProgress {
        font-size: 12px;
    }

    #helpContent {
        margin-top: 20px;
        margin-bottom: 8px;
        padding-left: 4px;
        padding-right: 20px;
        padding-bottom: 4px;
        font-size: 22px;
    }

    #helpContent h1 {
        font-size: 24px;
    }

    #helpContent p {
        margin-left: 0px;
    }

    .emailtablelabel {
        font-size: 14px;
    }
}

#helpArea { /* fits inside 1596x1226 background */
    overflow: auto;
    z-index: 1;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    align:      center;
    text-align: center;
    background-color: #3cc7e8;
}

#helpContent {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    font-family: SohoStd-BoldItalic, Arial, sans-serif;
    text-align: left;
    color: #ffffff;
}

#helpContent a, a:link, a:visited {
    color: #f0f0f0;
    text-decoration: none;
}

#helpContent a:hover {
    color: #ffffff;
    text-decoration: none;
}

#helpContent p {
    color: #ffffff;
    font-family: open_sanscondensed_light, Arial, sans-serif;
}

#close-button {
    float: right;
    padding-right: 10px;
    position: relative;
    z-index: 1000;
    background:url(close_btn_up.png) no-repeat;
    cursor:pointer;
    border:none;
    width: 60px;
    height: 60px;
}

#close-button:active {
    background:url(close_btn_over.png) no-repeat;
}

#sharearea {
    position: absolute;
    visibility: hidden;
    width: 1200px;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

#emailshare {
    position: absolute;
    visibility: hidden;
    display: none;
    width: 100%;
    align:      center;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
    font-size: 28px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#emailform {
    width:      64%;
    height:     50%;
    align:      center;
    text-align: center;
    margin: 0 auto;
    /*background-color: #aad4dc;*/
}

#emailtable {
    left:       auto;
    top:        auto;
    align:      center;
    text-align: center;
    margin: 0 auto;
}

.emailtablelabel {
    text-align: right;
}

.emailtablefield {
    color: #000090;
    font-size: 18px;
}

.emailtablebutton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family: SohoStd-BoldItalic, Arial, sans-serif;
    font-size:18px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:80px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}

.emailtablebutton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}

.emailtablebutton:active {
     position:relative;
     top:1px;
 }

.errorMessage {
    color:#FF3030;
    font-family: open_sanscondensed_light, Arial, sans-serif;
    font-size:18px;
    font-weight:normal;
    font-style:normal;
}

.debug {
    font-size: 36px;
}